@model IEnumerable<Register_Patient_Online.Models.BenhNhan>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cccd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaBhytNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cccd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaBhytNavigation.MaBhyt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTkNavigation.TenDangNhap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaBn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaBn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaBn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
